server:
  port: 8763
spring:
  application:
    name: service-hi
eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
#       defaultZone: http://127.0.0.1:8761/eureka/
#      defaultZone: http://172.17.0.2:8761/eureka/   #注册中心docker容器ip地址 1、docker exec -it  eureka 0d7cea7e1b7b  2、cat /etc/hosts
